<!-- ======= vision mission Section ======= -->
<section class="auto-space auto-space-vertical">
  <p class="hero-text">About Assiva Consulting</p>
</section>
<section class="auto-space auto-space-vertical">
  <div class="row">
    <div class="col-md-5">
      <img src="assets/img/features-1.svg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-7 pt-4">
      <h2 class="text-mission text-center text-md-left">Our Mission</h2>
      <p class="text-description text-center text-md-left">
        Accompagnement de votre structure dans sa digitalisation
      </p>
    </div>
  </div>
</section>
<section class="auto-space auto-space-vertical">
  <div class="row">
    <div class="col-md-5 order-1 order-md-2">
      <img src="assets/img/features-2.svg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-7 pt-5 order-2 order-md-1">
      <h2 class="text-vision text-center text-md-left">Our Vision</h2>
      <p class="text-description text-center text-md-left">
        Concevoir et implémenter des solutions robustes et à la pointe de l'innovation
      </p>
    </div>
  </div>
</section>
<section class="auto-space auto-space-vertical">
  <div class="row">
    <div class="col-md-5">
      <img src="assets/img/features-3.svg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-7 pt-5">
      <h2 class="text-mission text-center text-md-left">Our Strategy</h2>
      <p class="text-description text-center text-md-left">
        Stratégie à completer
      </p>
    </div>
  </div>
</section>
<!-- End vision mission Section -->

<!-- ======= Services Section ======= -->
<section class="services auto-space auto-space-vertical">
  <h3 class="heading">What do we do?</h3>
  <br />
  <div class="row">
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
      <div class="app-card app-box-shadow icon-box">
        <div class="icon">
          <fa-icon [icon]="faUsers"></fa-icon>
        </div>
        <p class="description">
          A compléter
        </p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
      <div class="app-card app-box-shadow icon-box">
        <div class="icon">
          <fa-icon [icon]="['fab', 'cloudscale']"></fa-icon>
        </div>
        <p class="description">
          A compléter
        </p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
      <div class="app-card app-box-shadow icon-box">
        <div class="icon"><fa-icon [icon]="faFistRaised"></fa-icon></div>
        <p class="description">
          A compléter
        </p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
      <div class="app-card app-box-shadow icon-box">
        <div class="icon"><fa-icon [icon]="faMagic"></fa-icon></div>
        <p class="description">
          A compléter
        </p>
      </div>
    </div>
  </div>
</section>
